<div class="flex justify-between items-baseline">
  <h1 class="font-bold text-lg hover:text-green-600"><a href="/wordspy">Wordspy</a></h1>
  <div>
    <p class="inline text-sm uppercase text-gray-600 font-semibold">Game</p>
    <input readonly type="text" value="<%= @game.name %>" class="w-40 ml-1 px-1 py-0 text-right form-input bg-gray-200"/>
  </div>
</div>
<section class="mt-5 text-sm sm:text-base font-semibold">
  <div class="mx-auto flex flex-col">
    <div class="xs:hidden flex items-center justify-between">
      <%= live_component(@socket, WordplayWeb.AllegianceLive, assigns) %>
      <div class="mt-5 font-semibold">
        <%= cond do %>
        <% @is_spymaster -> %>
          <p class="px-1 bg-purple-600 text-white font-semibold rounded">You are the <em>Spy Master</em></p>
        <% @user_count.spymasters >= 2 -> %>
          <p class="text-center">There are already 2 Spy Masters</p>
        <% true -> %>
          <button class="h-10 w-40 btn-basic btn-secondary"
                  phx-click="spymaster_clicked">Become Spymaster</button>
        <% end %>
      </div>
    </div>
    <div class="flex items-stretch justify-between text-gray-800">
      <%= live_component(@socket, WordplayWeb.TeamPanelLive, %{assigns: assigns, team: :blue}) %>
      <div class="mx-5 hidden xs:flex flex-col items-center">
        <%= live_component(@socket, WordplayWeb.AllegianceLive, assigns) %>
        <div class="mt-2 h-10 flex items-center font-semibold">
          <%= cond do %>
          <% @is_spymaster -> %>
            <p class="px-1 bg-purple-600 text-white font-semibold rounded">You're the <em>Spy Master</em></p>
          <% @user_count.spymasters >= 2 -> %>
            <p class="text-center">There are already 2 Spy Masters</p>
          <% true -> %>
            <button class="h-10 w-40 btn-basic btn-secondary"
                  phx-click="spymaster_clicked">Become Spymaster</button>
          <% end %>
        </div>
      </div>
      <%= live_component(@socket, WordplayWeb.TeamPanelLive, %{assigns: assigns, team: :red}) %>
    </div>
  </div>
  <%= case @game.winner do %>
  <% {:red, _} -> %>
    <div class="p-4 my-3 bg-red-200 text-center text-red-800 rounded">Red Wins!</div>
  <% {:blue, _} -> %>
    <div class="p-4 my-3 bg-blue-200 text-lg text-center text-blue-800 rounded">Blue Wins!</div>
  <% _ -> %>
    <div class="my-3 border-t border-gray-500"></div>
  <% end %>
  <%= live_component(@socket, WordplayWeb.GameBoardLive, assigns) %>
  <div class="mt-5 flex items-start justify-between">
    <div class="flex">
      <p class="px-2 flex items-center text-sm font-semibold text-white bg-blue-500 rounded-l uppercase">Blue  🏆<%= @game.score.blue %></p>
      <p class="px-2 flex items-center text-sm font-semibold text-white bg-red-500 rounded-r uppercase">Red  🏆<%= @game.score.red %></p>
    </div>
    <button class="btn btn-tertiary" phx-click="new_game">New Game</button>
  </div>
</section>
